* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    font-size: 32px;
    font-weight: 500;
    height: 60px;
    display: flex;
    padding-left: 30px;
    align-items: center;
    background-color: rgb(245, 159, 253);
}
main {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.gamecontainer {
    margin: 4vw 0 0 10vw;
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.gameinfo {
    margin-top: 4vw;
}
.gameinfo h1 {
    padding-top: 10px;
    font-size: 48px;
}
.gameinfo p {
    padding-top: 10px;
    font-size: 32px;
}

.gameinfo button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 10px;
}

#winning {
    padding: 30px 0;
    margin: auto;
    display: block;
    width: 0;
    transition: width 1s ease-in-out;
}
.gamebox {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.gamebox:hover {
    background-color: rgb(245, 159, 253);
}

#value {
    font-size: 10vw;
    font-weight: 500;
}

@media screen and (max-width: 1000px) {
    main {
        flex-wrap: wrap;
    }
    .gameinfo h1, .gameinfo p {
        padding-top: 20px;
        text-align: center;
    }
    .gameinfo button {
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .gamecontainer {
        padding-top: 40px;
        margin-left: 0;
    }
}
@media screen and (max-width: 500px) {
    main {
        flex-wrap: wrap;
    }
    .gameinfo h1, .gameinfo p {
        text-align: center;
    }
    .gameinfo button {
        display: block;
        margin: auto;
    }

    #winning {
        width: 40vw;
    }
    .gamecontainer {
        grid-template-columns: repeat(3, 15vw);
        grid-template-rows: repeat(3, 15vw);
    }
    header {
        font-size: 24px;
    }
}

.bt {
    border-top: 0;
}
.br {
    border-right: 0;
}
.bl {
    border-left: 0;
}
.bb {
    border-bottom: 0;
}

